<launch>
    <node pkg="rosserial_python" type="serial_node.py" name="serial_node_com8" output="screen" respawn="true" >
        <param name="port" value="COM8" type="string" />
        <param name="baud" value="500000" type="int" />
        <remap from="zr_hw_info" to="zzzros/srv"/>
    </node>
    <node pkg="zr_hw_info" type="info_srv_client.py" name="infoclient" output="screen" respawn="true" >
        
        <param name="srv_param" value="zzzros/srv" type="string" />
        <remap from="zr_hw_info" to="zzzros/srv"/>
    </node>

</launch>