<launch>
    <node pkg="rosserial_python" type="serial_node.py" name="serial_node_com7" output="screen" respawn="true" >
        <param name="port" value="COM7" type="string" />
        <param name="baud" value="500000" type="int" />
        <remap from="screen_1602" to="zzz/screen_1602"/>
        <remap from="zr_hw_cmd" to="zzzros/srv"/>
    </node>
    <node pkg="zr_screen_1602" type="screen_1602_pub.py" name="screen_1602_pub_node" output="log" respawn="true" >
        <remap from="screen_1602" to="zzz/screen_1602"/>
        <param name="rate_param" value="10" type="int" />
    </node>    
</launch>