<launch>
    <node pkg="zr_hw_cmd" type="cmd_srv_server.py" name="cmdserver" output="screen" respawn="true" >

        <remap from="zr_hw_cmd" to="zzzros/srv_cmd"/>
    </node>
    <node pkg="zr_hw_cmd" type="cmd_srv_client.py" name="cmdclient" output="screen" respawn="true" >
        
        <remap from="zr_hw_cmd" to="zzzros/srv_cmd"/>
    </node>

</launch>